<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новости</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header__body">
            <a href="/"><h1 class="header__logo">NewPro</h1></a>
            <a href="/login" class="header__btn">Войти</a>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="container">
        <div class="posts">
          {% for i in conf %}
          <section class="post" id="{{ i }}">
            <h2 class="post__title">{{ conf[i]['titel'] }}</h2>
            <img src="{{ url_for('static', filename='imgs/' + conf[i]['img']) }}" alt="" class="post__img" />
            <div class="post__desc">
              {{ conf[i]['text'] }}
            </div>
            <button class="header__btn" type="submit">Удалить</button>
          </section>
          {% endfor %}

          <form action="{{ url_for('add_state') }}" method="POST" enctype="multipart/form-data" class="login">
            <input class="input" type="text" placeholder="Название статьи" name="titel" id="titel">
            <input class="input" type="file" name="file" id="file">
            <textarea class="input" placeholder="Текст" name="text" id="text" cols="30" rows="10"></textarea>
            <button class="cent">Создать пост</button>
          </form>
        </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <h2>новостной сайт 2023</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
